<!-- contact.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <div>
        <div>
            <div>
                <h1>Hello from the Contact Page</h1>
                <hr>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex magni iure praesentium vero impedit quasi libero repudiandae tenetur quisquam enim officia architecto quibusdam est obcaecati repellat, accusantium, hic non doloremque.</p>
                <h2>Bye from the Contact page</h2>
            </div>
        </div>
    </div>
</body>
</html>
 