<!-- home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <div>
        <div>
            <div>
                <h1>Hello from the home page</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, dolores dolore tenetur corrupti labore officia esse cum quas suscipit vero neque cupiditate voluptatibus nihil. Iure ad totam culpa voluptatum. Fuga?</p>
                <h2>By from home page</h2>
                <hr>
                <h2>{{home_last}}</h2>
            </div>
        </div>
    </div>
</head>
<body>
    
</body>
</html>