<!-- contact.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <div>
        <div>
            <div>
                <nav>
                    <a href="http://127.0.0.1:8000/">Home</a>&nbsp;&nbsp;
                    <a href="http://127.0.0.1:8000/product/">Product</a>&nbsp;&nbsp;
                    <a href="http://127.0.0.1:8000/form/">Form Page</a>  &nbsp;&nbsp;
                    <a href="http://127.0.0.1:8000/user_list/">Users List</a>&nbsp;&nbsp;
                </nav>
                            <div class="border bg-beige">
                    <h1>Contact Us</h1>
                    <hr>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>