<!-- form.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Form</title>
</head>
<body>
    <div>
        <div>
            <div>
                <nav>
                    <a href="http://127.0.0.1:8000/">Home</a>&nbsp;&nbsp;
                    <a href="http://127.0.0.1:8000/product/">Product</a>&nbsp;&nbsp;
                    <a href="http://127.0.0.1:8000/user_list/">Users List</a>&nbsp;&nbsp;
                </nav>
                <H1>User Information Form</H1>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    <input type="text" placeholder="User Name" name="u_name">
                    


                    <input type="number" placeholder="User Age" name="u_age">
                    


                    <input type="text" placeholder="User City" name="u_city">
                    


                    <input type="text" placeholder="User Hobby" name="u_hobby">
                    


                    <input type="submit" value="Send!">
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>